<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.yunzhong.service.dao.AccountDAO">

	<resultMap type="org.yunzhong.service.model.Account"
		id="baseResultMap">
		<id column="id" property="id" />
		<result column="account" property="account" />
		<result column="name" property="name"/>
		<result column="password" property="password"/>
	</resultMap>

</mapper>