<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.yunzhong.service.dao.AccountDAO">

	<resultMap type="org.yunzhong.service.model.Account"
		id="baseResultMap">
		<id column="id" property="id" />
		<result column="account" property="account" />
		<result column="name" property="name"/>
		<result column="password" property="password"/>
		<result column="role" property="role"/>
	</resultMap>

	<sql id="allProperties">id,account,name,password,role</sql>

	<select id="getByAccount" resultMap="baseResultMap">
		SELECT <include refid="allProperties"/> from ps_accounts WHERE  account = #{account}
	</select>
</mapper>