<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.yunzhong.service.dao.HistoryDataDAO">

	<resultMap type="org.yunzhong.service.model.HistoryData" id="baseResultMap">
		<id property="id" column="id"></id>
		<id property="date" column="history_date"/>
		<result property="open" column="open"/>
		<result property="max" column="max"/>
		<result property="min" column="min"/>
		<result property="close" column="close"/>
		<result property="dealCount" column="deal_count"/>
		<result property="dealValue" column="deal_value"/>
	</resultMap>


	<insert id="batchInsert">
		insert into history_datas(id, history_date,open, max,
		min,close,deal_count, deal_value)
		values
		<foreach collection="datas" index="data" separator="," open="("
			close=")">
			#{data.id},
			#{data.date},
			#{data.open},
			#{data.max},
			#{data.min},
			#{data.close},
			#{data.dealCount},
			#{data.dealValue}
		</foreach>
	</insert>
	
	<select id="selectById" resultMap="baseResultMap">
		select * from history_datas where id = #{dataId} order by history_date
	</select>
</mapper>